<a href="https://colab.research.google.com/github/SandipDeshpande/Melbourne-House-Data/blob/main/Data_Cleaning_For_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Cleaning - Melbourne House Data

<img src='er karan arora.jpg'>

Importing Required Libralies

In [117]:
import numpy as np #linear Algebra
import pandas as pd #Data processing
import matplotlib.pyplot as plt

### Read CSV

In [121]:
from google.colab import files
upload=files.upload()

Saving Melbourne.csv to Melbourne.csv

In [123]:
 data= pd.read_csv('Melbourne.csv')
OrgData = data

In [124]:
data.shape

(34857, 21)

In [125]:
data.head()

       Suburb             Address  ...             Regionname Propertycount
0  Abbotsford       68 Studley St  ...  Northern Metropolitan        4019.0
1  Abbotsford        85 Turner St  ...  Northern Metropolitan        4019.0
2  Abbotsford     25 Bloomburg St  ...  Northern Metropolitan        4019.0
3  Abbotsford  18/659 Victoria St  ...  Northern Metropolitan        4019.0
4  Abbotsford        5 Charles St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [126]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

### Summing up the missing values (column-wise)

In [129]:
data.isnull().sum(axis=0).sort_values(ascending=False)

BuildingArea     21115
YearBuilt        19306
Landsize         11810
Car               8728
Bathroom          8226
Bedroom2          8217
Longtitude        7976
Lattitude         7976
Price             7610
Regionname           3
Propertycount        3
CouncilArea          3
Postcode             1
Distance             1
Date                 0
SellerG              0
Method               0
Type                 0
Rooms                0
Address              0
Suburb               0
dtype: int64

### Summing up the missing values (row-wise)

In [131]:
data.isnull().sum(axis=1).sort_values(ascending=False).head(10)

29483    13
18523    11
26888    11
13203     9
26673     9
24548     9
1708      9
28117     9
21807     9
28119     9
dtype: int64

### Columns having at least one missing value

In [132]:
data.isnull().sum() > 0

Suburb           False
Address          False
Rooms            False
Type             False
Price             True
Method           False
SellerG          False
Date             False
Distance          True
Postcode          True
Bedroom2          True
Bathroom          True
Car               True
Landsize          True
BuildingArea      True
YearBuilt         True
CouncilArea       True
Lattitude         True
Longtitude        True
Regionname        True
Propertycount     True
dtype: bool

In [133]:
d = data.isnull().any()
d

Suburb           False
Address          False
Rooms            False
Type             False
Price             True
Method           False
SellerG          False
Date             False
Distance          True
Postcode          True
Bedroom2          True
Bathroom          True
Car               True
Landsize          True
BuildingArea      True
YearBuilt         True
CouncilArea       True
Lattitude         True
Longtitude        True
Regionname        True
Propertycount     True
dtype: bool

In [134]:
data.index

RangeIndex(start=0, stop=34857, step=1)

In [135]:
d.values

array([False, False, False, False,  True, False, False, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [136]:
d.index[d.values]

Index(['Price', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

### By default any() operates on columns

In [137]:
data.isnull().any(axis=0)

Suburb           False
Address          False
Rooms            False
Type             False
Price             True
Method           False
SellerG          False
Date             False
Distance          True
Postcode          True
Bedroom2          True
Bathroom          True
Car               True
Landsize          True
BuildingArea      True
YearBuilt         True
CouncilArea       True
Lattitude         True
Longtitude        True
Regionname        True
Propertycount     True
dtype: bool

In [138]:
d = data.isnull().any(axis=1)

In [139]:
index = d.index[d.values]
index

Int64Index([    0,     1,     3,     5,     7,     8,     9,    10,    12,
               13,
            ...
            34842, 34843, 34844, 34845, 34846, 34848, 34850, 34851, 34852,
            34855],
           dtype='int64', length=25970)

In [140]:
data.iloc[index,:]

           Suburb             Address  ...             Regionname Propertycount
0      Abbotsford       68 Studley St  ...  Northern Metropolitan        4019.0
1      Abbotsford        85 Turner St  ...  Northern Metropolitan        4019.0
3      Abbotsford  18/659 Victoria St  ...  Northern Metropolitan        4019.0
5      Abbotsford    40 Federation La  ...  Northern Metropolitan        4019.0
7      Abbotsford        16 Maugie St  ...  Northern Metropolitan        4019.0
...           ...                 ...  ...                    ...           ...
34848     Wollert       16 Gunther Wy  ...  Northern Metropolitan        2940.0
34850     Wollert    15 Rockgarden Wy  ...  Northern Metropolitan        2940.0
34851  Yarraville       78 Bayview Rd  ...   Western Metropolitan        6543.0
34852  Yarraville         13 Burns St  ...   Western Metropolitan        6543.0
34855  Yarraville    12/37 Stephen St  ...   Western Metropolitan        6543.0

[25970 rows x 21 columns]

### Columns having all missing values

In [141]:
data.isnull().all(axis=0)

Suburb           False
Address          False
Rooms            False
Type             False
Price            False
Method           False
SellerG          False
Date             False
Distance         False
Postcode         False
Bedroom2         False
Bathroom         False
Car              False
Landsize         False
BuildingArea     False
YearBuilt        False
CouncilArea      False
Lattitude        False
Longtitude       False
Regionname       False
Propertycount    False
dtype: bool

### Rows having all misisng values

In [142]:
data.isnull().all(axis=1).sum()

0

In [143]:
data.isnull().sum(axis=1)==21

0        False
1        False
2        False
3        False
4        False
         ...
34852    False
34853    False
34854    False
34855    False
34856    False
Length: 34857, dtype: bool

### Summing up the missing values (Column-wise) : Cal in %

In [144]:
data.isnull().sum().sort_values(ascending=False)/len(data) * 100

BuildingArea     60.576068
YearBuilt        55.386293
Landsize         33.881286
Car              25.039447
Bathroom         23.599277
Bedroom2         23.573457
Longtitude       22.882061
Lattitude        22.882061
Price            21.832057
Regionname        0.008607
Propertycount     0.008607
CouncilArea       0.008607
Postcode          0.002869
Distance          0.002869
Date              0.000000
SellerG           0.000000
Method            0.000000
Type              0.000000
Rooms             0.000000
Address           0.000000
Suburb            0.000000
dtype: float64

In [145]:
round(data.isnull().sum().sort_values(ascending=False)/len(data) * 100,2)

BuildingArea     60.58
YearBuilt        55.39
Landsize         33.88
Car              25.04
Bathroom         23.60
Bedroom2         23.57
Longtitude       22.88
Lattitude        22.88
Price            21.83
Regionname        0.01
Propertycount     0.01
CouncilArea       0.01
Postcode          0.00
Distance          0.00
Date              0.00
SellerG           0.00
Method            0.00
Type              0.00
Rooms             0.00
Address           0.00
Suburb            0.00
dtype: float64

### Removing the three columns where the max null value percentage

In [146]:
col= data.isnull().sum().sort_values(ascending=False).head(3).index.values

In [147]:
data = data.drop(col,axis='columns')
data

           Suburb             Address  ...             Regionname Propertycount
0      Abbotsford       68 Studley St  ...  Northern Metropolitan        4019.0
1      Abbotsford        85 Turner St  ...  Northern Metropolitan        4019.0
2      Abbotsford     25 Bloomburg St  ...  Northern Metropolitan        4019.0
3      Abbotsford  18/659 Victoria St  ...  Northern Metropolitan        4019.0
4      Abbotsford        5 Charles St  ...  Northern Metropolitan        4019.0
...           ...                 ...  ...                    ...           ...
34852  Yarraville         13 Burns St  ...   Western Metropolitan        6543.0
34853  Yarraville       29A Murray St  ...   Western Metropolitan        6543.0
34854  Yarraville      147A Severn St  ...   Western Metropolitan        6543.0
34855  Yarraville    12/37 Stephen St  ...   Western Metropolitan        6543.0
34856  Yarraville    3 Tarrengower St  ...   Western Metropolitan        6543.0

[34857 rows x 18 columns]

In [148]:
round(data.isnull().sum().sort_values(ascending=False)/len(data) * 100,2)

Car              25.04
Bathroom         23.60
Bedroom2         23.57
Longtitude       22.88
Lattitude        22.88
Price            21.83
Propertycount     0.01
Regionname        0.01
CouncilArea       0.01
Distance          0.00
Postcode          0.00
Date              0.00
SellerG           0.00
Method            0.00
Type              0.00
Rooms             0.00
Address           0.00
Suburb            0.00
dtype: float64

### Check the rows where you have more than 5 missing values

In [149]:
len(data[data.isnull().sum(axis=1) > 5])/len(data)*100

4.937315316866052

### Retaining the rows having <=5 NaNs

In [150]:
data = data[data.isnull().sum(axis=1) <=5]
data

           Suburb             Address  ...             Regionname Propertycount
0      Abbotsford       68 Studley St  ...  Northern Metropolitan        4019.0
1      Abbotsford        85 Turner St  ...  Northern Metropolitan        4019.0
2      Abbotsford     25 Bloomburg St  ...  Northern Metropolitan        4019.0
3      Abbotsford  18/659 Victoria St  ...  Northern Metropolitan        4019.0
4      Abbotsford        5 Charles St  ...  Northern Metropolitan        4019.0
...           ...                 ...  ...                    ...           ...
34852  Yarraville         13 Burns St  ...   Western Metropolitan        6543.0
34853  Yarraville       29A Murray St  ...   Western Metropolitan        6543.0
34854  Yarraville      147A Severn St  ...   Western Metropolitan        6543.0
34855  Yarraville    12/37 Stephen St  ...   Western Metropolitan        6543.0
34856  Yarraville    3 Tarrengower St  ...   Western Metropolitan        6543.0

[33136 rows x 18 columns]

In [151]:
data

           Suburb             Address  ...             Regionname Propertycount
0      Abbotsford       68 Studley St  ...  Northern Metropolitan        4019.0
1      Abbotsford        85 Turner St  ...  Northern Metropolitan        4019.0
2      Abbotsford     25 Bloomburg St  ...  Northern Metropolitan        4019.0
3      Abbotsford  18/659 Victoria St  ...  Northern Metropolitan        4019.0
4      Abbotsford        5 Charles St  ...  Northern Metropolitan        4019.0
...           ...                 ...  ...                    ...           ...
34852  Yarraville         13 Burns St  ...   Western Metropolitan        6543.0
34853  Yarraville       29A Murray St  ...   Western Metropolitan        6543.0
34854  Yarraville      147A Severn St  ...   Western Metropolitan        6543.0
34855  Yarraville    12/37 Stephen St  ...   Western Metropolitan        6543.0
34856  Yarraville    3 Tarrengower St  ...   Western Metropolitan        6543.0

[33136 rows x 18 columns]

In [152]:
round(data.isnull().sum().sort_values(ascending=False)/len(data) * 100,2)

Car              21.15
Bathroom         19.63
Bedroom2         19.60
Longtitude       18.88
Lattitude        18.88
Price            17.78
Propertycount     0.00
Method            0.00
Address           0.00
Rooms             0.00
Type              0.00
Distance          0.00
SellerG           0.00
Date              0.00
Regionname        0.00
Postcode          0.00
CouncilArea       0.00
Suburb            0.00
dtype: float64

In [153]:
data[data['Price'].notnull()]

           Suburb           Address  ...             Regionname Propertycount
1      Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
2      Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
4      Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
5      Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
6      Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0
...           ...               ...  ...                    ...           ...
34852  Yarraville       13 Burns St  ...   Western Metropolitan        6543.0
34853  Yarraville     29A Murray St  ...   Western Metropolitan        6543.0
34854  Yarraville    147A Severn St  ...   Western Metropolitan        6543.0
34855  Yarraville  12/37 Stephen St  ...   Western Metropolitan        6543.0
34856  Yarraville  3 Tarrengower St  ...   Western Metropolitan        6543.0

[27244 rows x 18 columns]

### Another method

In [154]:
data[~np.isnan(data['Price'])]

           Suburb           Address  ...             Regionname Propertycount
1      Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
2      Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
4      Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
5      Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
6      Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0
...           ...               ...  ...                    ...           ...
34852  Yarraville       13 Burns St  ...   Western Metropolitan        6543.0
34853  Yarraville     29A Murray St  ...   Western Metropolitan        6543.0
34854  Yarraville    147A Severn St  ...   Western Metropolitan        6543.0
34855  Yarraville  12/37 Stephen St  ...   Western Metropolitan        6543.0
34856  Yarraville  3 Tarrengower St  ...   Western Metropolitan        6543.0

[27244 rows x 18 columns]

In [155]:
data = data[data['Price'].notnull()]
data

           Suburb           Address  ...             Regionname Propertycount
1      Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
2      Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
4      Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
5      Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
6      Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0
...           ...               ...  ...                    ...           ...
34852  Yarraville       13 Burns St  ...   Western Metropolitan        6543.0
34853  Yarraville     29A Murray St  ...   Western Metropolitan        6543.0
34854  Yarraville    147A Severn St  ...   Western Metropolitan        6543.0
34855  Yarraville  12/37 Stephen St  ...   Western Metropolitan        6543.0
34856  Yarraville  3 Tarrengower St  ...   Western Metropolitan        6543.0

[27244 rows x 18 columns]

In [156]:
round(data.isnull().sum().sort_values(ascending=False)/len(data) * 100,2)

Car              25.04
Bathroom         23.65
Bedroom2         23.63
Longtitude       22.94
Lattitude        22.94
Propertycount     0.00
Method            0.00
Address           0.00
Rooms             0.00
Type              0.00
Price             0.00
Distance          0.00
SellerG           0.00
Date              0.00
Regionname        0.00
Postcode          0.00
CouncilArea       0.00
Suburb            0.00
dtype: float64

In [159]:
data['Distance'].describe()

count    27244.000000
mean        11.280634
std          6.787580
min          0.000000
25%          6.400000
50%         10.500000
75%         14.000000
max         48.100000
Name: Distance, dtype: float64

In [161]:
data = data[data['Distance'].notnull()]
data

           Suburb           Address  ...             Regionname Propertycount
1      Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
2      Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
4      Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
5      Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
6      Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0
...           ...               ...  ...                    ...           ...
34852  Yarraville       13 Burns St  ...   Western Metropolitan        6543.0
34853  Yarraville     29A Murray St  ...   Western Metropolitan        6543.0
34854  Yarraville    147A Severn St  ...   Western Metropolitan        6543.0
34855  Yarraville  12/37 Stephen St  ...   Western Metropolitan        6543.0
34856  Yarraville  3 Tarrengower St  ...   Western Metropolitan        6543.0

[27244 rows x 18 columns]

In [162]:
round(data.isnull().sum().sort_values(ascending=False)/len(data) * 100,2)

Car              25.04
Bathroom         23.65
Bedroom2         23.63
Longtitude       22.94
Lattitude        22.94
Propertycount     0.00
Method            0.00
Address           0.00
Rooms             0.00
Type              0.00
Price             0.00
Distance          0.00
SellerG           0.00
Date              0.00
Regionname        0.00
Postcode          0.00
CouncilArea       0.00
Suburb            0.00
dtype: float64

### Describe Lattitude and Longtitude and later imputing the values by Mean

In [180]:
data.loc[:,['Lattitude','Longtitude']].describe()

          Lattitude    Longtitude
count  27244.000000  27244.000000
mean     -37.806963    144.996711
std        0.080424      0.105934
min      -38.190430    144.423790
25%      -37.842848    144.954300
50%      -37.806963    144.996711
75%      -37.766000    145.048360
max      -37.397800    145.526350

In [181]:
data['Lattitude'].mean()

-37.8069630272033

In [182]:
data.loc[:,'Lattitude'].fillna(data['Lattitude'].mean(),inplace=True)

In [183]:
data.loc[:,'Longtitude'].fillna(data['Longtitude'].mean(),inplace=True)

In [184]:
round(data.isnull().sum().sort_values(ascending=False)/len(data) * 100,2)

Bedroom2         23.63
Propertycount     0.00
Date              0.00
Address           0.00
Rooms             0.00
Type              0.00
Price             0.00
Method            0.00
SellerG           0.00
Distance          0.00
Regionname        0.00
Postcode          0.00
Bathroom          0.00
Car               0.00
CouncilArea       0.00
Lattitude         0.00
Longtitude        0.00
Suburb            0.00
dtype: float64

In [185]:
data.loc[:,['Bathroom','Car']].describe()

           Bathroom           Car
count  27244.000000  27244.000000
mean       1.451732      1.786632
std        0.662012      0.869588
min        0.000000      0.000000
25%        1.000000      1.000000
50%        1.000000      2.000000
75%        2.000000      2.000000
max        9.000000     18.000000

In [186]:
data.groupby('Car').Car.count().sort_values(ascending=False)

Car
2.0     16188
1.0      7400
0.0      1251
3.0      1234
4.0       907
5.0       113
6.0       105
7.0        19
8.0        18
10.0        5
9.0         2
18.0        1
11.0        1
Name: Car, dtype: int64

In [187]:
data['Car'].astype('category').value_counts()

2.0     16188
1.0      7400
0.0      1251
3.0      1234
4.0       907
5.0       113
6.0       105
7.0        19
8.0        18
10.0        5
9.0         2
18.0        1
11.0        1
Name: Car, dtype: int64

In [188]:
data.loc[:,'Car'].fillna(2,inplace=True)

In [189]:
round(data.isnull().sum().sort_values(ascending=False)/len(data) * 100,2)

Bedroom2         23.63
Propertycount     0.00
Date              0.00
Address           0.00
Rooms             0.00
Type              0.00
Price             0.00
Method            0.00
SellerG           0.00
Distance          0.00
Regionname        0.00
Postcode          0.00
Bathroom          0.00
Car               0.00
CouncilArea       0.00
Lattitude         0.00
Longtitude        0.00
Suburb            0.00
dtype: float64

In [190]:
data['Bathroom'].astype('category').value_counts()

1.0    16971
2.0     8464
3.0     1537
4.0      176
5.0       46
0.0       34
6.0       10
8.0        3
7.0        2
9.0        1
Name: Bathroom, dtype: int64

In [191]:
data.loc[:,'Bathroom'].fillna(1,inplace=True)

In [192]:
round(data.isnull().sum().sort_values(ascending=False)/len(data) * 100,2)

Bedroom2         23.63
Propertycount     0.00
Date              0.00
Address           0.00
Rooms             0.00
Type              0.00
Price             0.00
Method            0.00
SellerG           0.00
Distance          0.00
Regionname        0.00
Postcode          0.00
Bathroom          0.00
Car               0.00
CouncilArea       0.00
Lattitude         0.00
Longtitude        0.00
Suburb            0.00
dtype: float64

In [193]:
len(data)/len(OrgData) * 100

78.15933671859311